<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/carrito.css">
    <link rel="icon" type="image/png" href="../public/imagenes/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <title>Carrito</title>
</head>
<body>
    <div id="navbar"></div>
    <main>
        <section id="items-carro" class="items-carro">
        </section>
    </main>

    <script src="../public/navbar.js"></script>
    <script src="../public/catalago.js"></script>
</body>
</html>