<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/inicio.css">
    <title>PincOs - Inicio</title>
</head>
<body>

    <div id="navbar"></div>
    
    <section id="seccion-principal">
        <div id="contenido-principal">
            <h1>Bienvenido</h1>
            <p>Explora nuestra amplia gama de pinturas y encuntra la tonalidad ideal para tu proyecto.</p>
            <a id="btnexplorar" href="catalogo.html#todoC">Explorar</a>
        </div>
    </section>
   
    <section class="categorias">
        <article id="texto-categorias">
            <h3 id="Explorar">PARA CONSTRUIR Y DECORAR</h3>
            <p>!Lo tenemos todo!</p>
        </article>
        <div class="categoria domestica">
           <a href="catalogo.html#domesticaC"> <img src="../public/imagenes/domestica.jpg" alt="Domestica">
            <div class="texto-superpuesto">Domestica</div>
            </a>
        </div>
        <div class="categoria industrial">
            <a href="catalogo.html#industrialC"><img src="../public/imagenes/Industrial.jpg" alt="Industrial">
            <div class="texto-superpuesto">Industrial</div>
            </a>
        </div>
        <div class="categoria medera">
            <a href="catalogo.html#maderaC"><img src="../public/imagenes/madera.jpg" alt="Madera">
            <div class="texto-superpuesto">Madera</div>
            </a>
        </div>
        <div class="categoria arquitectonica">
            <a href="catalogo.html#arquitectonicaC"><img src="../public/imagenes/arquitectonica.jpg" alt="arquitectonica">
            <div class="texto-superpuesto">Arquitectonica</div>
            </a>
        </div>
    </section>

    <section id="contacto">
        <form action="" id="formulario-contacto">
            <input type="text" name="nombre" class="entrada nombre" placeholder="Nombre">
            <input type="text" name="apellido" class="entrada apellido" placeholder="Apellido">
            <input type="email" name="correo" class="entrada correo" placeholder="Correo Electrónico">
            <textarea name="mensaje" class="entrada mensaje" placeholder="Mensaje"></textarea>
            <button type="submit" id="btn-formcontacto">Envíar Mensaje</button>
        </form>
        <article id="texto-contacto">
            <h3 style="text-align: center;">!CONTACTANOS!</h3>
            <p>¿Necesita ayuda para elegir la pintura perfecta?
                Dejanos tus datos y cúentanos en qué proyecto estás
                trabajando. Nuestros expertos te asesorarán
                sobre colores, tipos de pintura y cantidades necesarias.
                !Respondemos en menos de 24 horas!
            </p>
        </article>
    </section>
    <footer id="pie-pagina">
        <article class="seccion-footer">
            <h3>¿Sabes quién está detras de tus pinturas?</h3>
            <p>¡Conócenos! Aquí encontraras calidad,<br> amor por el detalle y colores que inspiran.</p>
        </article>
        <article class="seccion-footer">
            <h3>¡Conoces nuestros servicios!</h3>
            <p>En nuestra tienda, no solo vendemos pintura...<br>¡Te ayudamos a elegir la pintura perfecta</p>
        </article>
        <article class="seccion-footer">
            <h3>¡CONTACTANOS!</h3>
            <p>0416-4537225<br>0414-5026386</p>
            <p><a href="mailto:Todocolorlara@gmail.com">todocolorlara@gmail.com</a></p>
            <p>Carrera 19, entre calle 60 y 61</p>
        </article>
        <article class="parte-inferior">
            <p>&copy; 2025 Todo Color Lara. Todos los derechos reservados.</p>
        </article>
    </footer>
    <script src="/public/navbar.js"></script>
</body>
</html>