<link rel="stylesheet" href="../public/css/navbar.css">
<header>
        <nav>
            <ul>
            <li><a href="../views/inicio.html">Inicio</a></li>
            <li><a href="catalogo.html#todoC">Catálogo</a></li>
            <li><a href="inicio.html#contacto">Contacto</a></li>
            <li><a href="../views/carrito.html">Carrito</a></li>
            </ul>
            <div id="botones-nav">
            <a class="btn iniciar" href="../views/inicio_sesion.html">Iniciar Sesión</a>
            <a class="btn crear" href="../views/registro.html">Crear Cuenta</a>
            </div>
        </nav>
    </header>
