<link rel="stylesheet" href="../public/css/navbar.css">
<header>
        <nav>
            <ul>
            <li><a href="../views/inicio.php">Inicio</a></li>
            <li><a href="catalogo.php#todoC">Catálogo</a></li>
            <li><a href="inicio.php#contacto">Contacto</a></li>
            <li><a href="../views/carrito.php">Carrito</a></li>
            </ul>
            <div id="usuario">
                <button id="usuarioBoton" class="icono-usuario"><img src="../public/imagenes/usuario.png" alt="icono"></button>
                <div id="menu-usuario" class="menu-usuario hidden">
                    <a href="">Editar Perfil</a>
                    <button>Cerrar Sesión</button>
                </div>
            </div>
        </nav>
    </header>