<link rel="stylesheet" href="../public/css/navbar.css">
<header>
        <nav>
            <ul>
                <li><a href="../views/inicio.php">Inicio</a></li>
                <li>
                    <form id="formTodo" action="../controllers/controllers_product/controlador_producto.php" method="POST">
                        <input type="hidden" name="seccion" value="Catalogo">
                        <input type="hidden" name="categoria" value="Todo">
                    </form>
                    <a onclick="document.getElementById('formTodo').submit();">Catálogo</a>
                </li>
                <li><a href="inicio.php#contacto">Contacto</a></li>
            </ul>
            <div id="botones-nav">
                <a class="btn iniciar" href="../views/inicio_sesion.php">Iniciar Sesión</a>
                <a class="btn crear" href="../views/registro.php">Crear Cuenta</a>
            </div>
        </nav>
    </header>