<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <title>PincOs-Registro</title>
    <link rel="stylesheet" href="../public/registro.css">
    <link rel="icon" type="image/png" href="../public/imagenes/icon.png">
</head>
<body>

    <a href="inicio.html" id="retroceder"><img src="../img/Flechaatras1.png" alt="Flecha que te dirige al inicio"></a>

    <div id="LadoIzquierdo">

        <p>¡¡CREA TU CUENTA AQUI!!</p>
        <p>Para realizar tus primeras compras en linea.</p>

    </div>

    <div id="LadoDerecho">

        <h1>Registrase</h1>

        <form action="">
            <div class="campos">
                <label for="INombre">Nombre Completo</label>
                <input type="text" name="INombre" id="INombre">
            </div>

            <div class="campos">
                <label for="IIdentificacion">Cedula / RIF</label>
                <input type="text" name="IIdentificacion" id="IIdentificacion">
            </div>

            <div class="campos">
                <label for="IDireccion">Direccion</label>
                <input type="text" name="IDireccion" id="IDireccion">
            </div>

            <div class="campos">
                <label for="ICorreo">Correo Electronico</label>
                <input type="email" name="ICorreo" id="ICorreo">
            </div>

            <div class="campos">
                <label for="IContraseña">Contraseña</label>
                <input type="password" name="IContraseña" id="IContraseña">
            </div>

            <input type="submit" id="botonRegistrarse" value="Registrarse">
        </form>
    </div>  
</body>
</html>