aside{
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;     
    height: 100vh;
    z-index: 10;
    box-shadow: 2px 0 8px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    background-color: #0b5fb0;
}

aside nav{
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 100%;
    align-items: center;
    text-align: center;
    
}

aside nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 48px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.2s, color 0.2s, transform 0.2s;
    letter-spacing: 0.5px;
    margin: 0 auto;
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

li{
    font-size: 1.4vw;
    color: white;
    cursor: pointer;
    font-weight: 800;
    letter-spacing: 0.06vw;
    transition: color 0.3s ease;
    position: relative;
}

li:hover {
    color: white;
}

li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: width 0.3s ease;
}

li:hover::after {
    width: 100%;
}